

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;

  --grey-50: #f8f9fa;
  --grey-100: #abb8c3;
  --grey-800: #212529;
  --grey-900: #121214;

  --green-200: 	#65f473;
  
  --green-500: #48782F;

  --green-700: #075E54;

  --yellow-500: #FCBC00;

  --orange-500: #EC6523;

  --red-400: #ff5252;

  --blue-300: #006883;
  --blue-900: #033752;
}

@media (max-width: 1080px) {
  html{
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html{
    font-size: 87.5%;
  }
}

body {
  background: var(--grey-50);
  color: var(--grey-800);
}

body, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}